/* table, th, td{ */
td{
    border: 0.5px solid #91919177;
    cursor: pointer;
}
th{
    /* padding:10px 4vw; */
    min-width: 5vw;
}
th, td{
    padding: 5px;
    text-align: center;
}
table{
    /* border-radius: 20px; */ /* --> not working*/ 
}