<!-- <!DOCTYPE html>
<html>
<head>
	<title>Animated typing effect using typed js</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>
	<style type="text/css">
		.write{
			font-size: 22px;
		}
		.container{
			text-align: center;
		}
	</style>
</head>
<body>


<div class="container">
	<span class="write"></span>
</div>


<script type="text/javascript">
	$(function(){
        $(".write").typed({
            strings: ["Welcome to ItSolutionStuff.com!", "Thanks for visit"],
            typeSpeed: 1
        });
    });
</script>


</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <h1>test of typed.js <span className="auto-input"></span></h1> -->
    <h1>test of typed.js <span class="mov"></span></h1>

</body>

<!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script> -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@latest/lib/typed.min.js"></script>
<script>
    var typed = new Typed(".mov",{
    strings: ["Ganesh","Content Writer","Web Developer"] ,
    typeSpeed: 100,
    backSpeed: 100,
    loop: true

    })
</script>

   
     

</html>