* {
    /* : 100%; */

}

.App {
    /* min-width: 100vw; */
    min-height: 100vh !important;
    min-width: 100vw;
    background-color: #151518;
    
    font-family: 'Noto Sans', sans-serif;   /* -- not working -- */
    font-family: 'Inter', sans-serif;       /* -- not working -- */
}

.monsterrat {
    font-family: 'Montserrat', sans-serif
}


.btn-service-know-more {
    padding: 0.4rem 1rem;
    border-radius: 6px;
    color: whitesmoke;
    /* background-color: #ff009d; */
    background-color: #151518;
}

.btn-service-know-more:hover {
    padding: 0.4rem 1rem;
    border-radius: 6px;
    color: black;
    /* color: whitesmoke; */
    background-color: #ffc400;
    /* background-color: #ff009d; */
    /* background-color: #151518; */
}