.review-card {
  width: 17em;
  background-color: #2b2d42;
  color: #f8f8f2;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 16px;
  display: inline-block;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
}

.review-body{
  flex: 1;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.review-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.review-header h3 {
  margin: 0;
  font-size: 1.15em;
}

.review-body p {
  font-size: 0.9em;
  line-height: 1.5;
  margin: 0 0 12px 0;
}

.review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;

  margin-top: auto;
}

.review-footer span {
  margin-right: 8px;
  color: #f8f8f2;
}